<div class="container-xs-height full-height m-t-80">
	<div class="row-xs-height p-t-40">
		<div class="col-xs-height col-middle p-t-40">
			<div class="error-container text-center">
				<h1 class="error-number">{{ code }}</h1>
				<h2 class="semi-bold">{{ message1 }}</h2>
				<p>{{ message2 }}</p>
			</div>
		</div>
	</div>
</div>