<div id="quickview" class="quickview-wrapper" pg-quickview>
	<ul class="nav nav-tabs">
        <li class="">
            <a href="#quickview-notes" data-toggle="tab" pg-tab>Notes</a>
        </li>
        <li>
            <a href="#quickview-alerts" data-toggle="tab" pg-tab>Alerts</a>
        </li>
        <li class="active">
            <a href="#quickview-chat" data-toggle="tab" pg-tab>Chat</a>
        </li>
    </ul>
    <a class="btn-link quickview-toggle" data-toggle-element="#quickview" data-toggle="quickview"><i class="pg-close"></i></a>
    <div class="tab-content">
    	<div class="tab-pane fade  in no-padding" id="quickview-notes">
    	
    	</div>
    </div>
</div>