<nav class="page-sidebar" data-pages="sidebar" pg-sidebar ng-controller="SidebarCtrl">
	<div class="sidebar-overlay-slide from-top" id="appMenu">
	
	</div>
	<div class="sidebar-header">
		<img src="{{ asset('assets/img/logo_white.png') }}" alt="logo" class="brand" data-src="{{ asset('assets/img/logo_white.png') }}" ui-jq="unveil" data-src-retina="{{ asset('assets/img/logo_white_2x.png') }}" height="35">
		<div class="sidebar-header-controls">
			<button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i></button>
		</div>
	</div>
	<div class="sidebar-menu">
		<ul class="menu-items">
			<li class="m-t-30 open" ui-sref-active="active">
				<a ui-sref="app.home" class="detailed">
					<span class="title">Dashboard</span>
					<span class="details"></span>
				</a>
				<span class="icon-thumbnail"><i class="pg-home"></i></span>
			</li>
			<li ng-if="user.role == 'admin'" ng-class="{'open active':includes('app.settings')}">
				<a href="javascript:;">
					<span class="title">Settings</span>
					<span class="arrow" ng-class="{'active open':$state.includes('app.settings')}"></span>
				</a>
				<span class="icon-thumbnail"><i class="pg-settings"></i></span>
				<ul class="sub-menu">
					<li ui-sref-active="active">
						<a ui-sref="app.settings.signup">Fields</a>
						<span class="icon-thumbnail">f</span>
					</li>
				</ul>
			</li>
			<li ng-if="user.role == 'admin'" ng-class="{'open active':includes('app.users')}">
				<a href="javascript:;">
					<span class="title">Users</span>
					<span class="arrow" ng-class="{'active open':$state.includes('app.users')}"></span>
				</a>
				<span class="icon-thumbnail"><i class="fa fa-user"></i></span>
				<ul class="sub-menu">
					<li ui-sref-active="active">
						<a ui-sref="app.users.list">List</a>
						<span class="icon-thumbnail">ul</span>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="app.users.create">Create</a>
						<span class="icon-thumbnail">c</span>
					</li>
				</ul>
			</li>
			<li ng-if="user.role == 'influencer'" ui-sref-active="active">
				<a ui-sref="app.feeds" class="detailed">
					<span class="title">Feeds</span>
					<span class="details"></span>
				</a>
				<span class="icon-thumbnail"><i class="pg-social"></i></span>
			</li>
			<li ng-if="user.role == 'client'" ui-sref-active="active">
				<a ui-sref="app.campaign" class="detailed">
					<span class="title">Campaign</span>
					<span class="details"></span>
				</a>
				<span class="icon-thumbnail"><i class="pg-suitcase"></i></span>
			</li>
		</ul>
		<div class="clearfix"></div>
	</div>
</nav>