<div class="container-fluid container-fixed-lg">
	<ul class="breadcrumb">
		<li><p>users</p></li>
		<li><a href="#" class="active">create new</a></li>
	</ul>
</div>

<div class="container-fluid no-margin full-width bg-white" ng-controller="AdminUsersCreateCtrl">
	<div class="row full-height no-margin">
		<div class="col-md-12 full-height">
			<div class="panel panel-transparent">
				<div class="panel-heading">
					<div class="panel-title">
						<h4 ng-if="!newUser.firstName && !newUser.lastName" class="text-hint">New User</h4>
						<h4 ng-if="newUser.firstName || newUser.lastName">{{ '{{ newUser.firstName }} {{ newUser.lastName }}' }}</h4>
					</div>
				</div>
				<div class="panel-body">
					<form role="form" name="createUserForm" ng-submit="updateUser()" novalidate>
						<div class="row row-same-height">
							<div class="col-md-6 b-r b-dashed b-grey">
            					<div class="padding-30">
            						<h4>User Info</h4>
            						<div class="row">
                						<div class="col-sm-12 col-md-6">
                							<div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error': createUserForm.firstName.$invalid && !createUserForm.firstName.$pristine }">
                								<label>First Name</label>
                								<input type="text" name="firstName" placeholder="First Name" class="form-control" ng-model="newUser.firstName" required>
                							</div>
                						</div>
                						<div class="col-sm-12 col-md-6">
                							<div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error': createUserForm.lastName.$invalid && !createUserForm.lastName.$pristine }">
                								<label>Last Name</label>
                								<input type="text" name="lastName" placeholder="Last Name" class="form-control" ng-model="newUser.lastName" required>
                							</div>
                						</div>
                					</div>
                					<div class="row">
                						<div class="col-sm-12 col-sm-6">
                							<div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error': (createUserForm.email.$invalid && !createUserForm.email.$pristine) || createUserForm.newUser.email == false }">
                								<label>Email</label>
                								<input inf-unique inf-unique-property="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="newUser.email" required>
                							</div>
                							<label class="error" for="email" ng-show="email.$invalid && !email.$pristine && !email.$error.unique">Enter a valid email.</label>
                							<label class="error" for="email" ng-show="email.$error.unique == true">Email already in use.</label>
                						</div>
                						<div class="col-sm-12 col-md-6">
                							<div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error': createUserForm.gender.$invalid && !createUserForm.gender.$pristine }">
                								<label>Gender</label>
                								<select name="gender" class="form-control" ng-model="newUser.gender" required>
                									<option value="male">Male</option>
                									<option value="female">Female</option>
                								</select>
                							</div>
                						</div>
                					</div>
                					<div class="row">
                						<div class="col-sm-12 col-md-6">
                							<div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error': createUserForm.contactNumber.$invalid && !createUserForm.contactNumber.$pristine }">
                								<label>Contact Number</label>
                								<input type="text" name="contactNumber" placeholder="Contact Number" class="form-control" ng-model="newUser.contactNumber" required>
                							</div>
                						</div>
                						<div class="col-sm-12 col-md-6">
                							<div pg-form-group class="form-group form-group-default">
                								<label>Second Number</label>
                								<input type="text" name="secondNumber" placeholder="Second Number" class="form-control" ng-model="newUser.secondNumber">
                							</div>
                						</div>
                					</div>
                					<div class="row">
                						<div class="col-sm-12 col-md-12">
                							<div pg-form-group class="form-group form-group-default">
                								<label>Website</label>
                								<input type="text" name="website" placeholder="Website" class="form-control" ng-model="newUser.website">
                							</div>
                						</div>
                					</div>
                					<div class="row">
                						<div class="col-sm-12 col-md-12">
                							<div pg-form-group class="form-group form-group-default" style="min-height:200px">
                								<label>Overview</label>
                								<textarea name="brief" placeholder="Overview" class="form-control" ng-model="newUser.brief" style="min-height:200px"></textarea>
                							</div>
                						</div>
                					</div>
                				</div>
                			</div>
                			<div class="col-md-6">
            					<div class="padding-30">
            						<h4>User Settings</h4>
            						<div class="row">
                						<div class="col-sm-12 col-md-6">
                							<div pg-form-group class="form-group form-group-default required">
                								<label>Status</label>
                								<select name="enabled" class="form-control" ng-model="newUser.enabled" ng-options="boolToStr(item) for item in [true, false]"></select>
                							</div>
                						</div>
                						<div class="col-sm-12 col-md-6">
                							<div pg-form-group class="form-group form-group-default required">
                								<label>Role</label>
                								<select name="enabled" class="form-control" ng-model="newUser.roles[0]" required>
                									<option value="ROLE_CLIENT">Client</option>
                									<option value="ROLE_INFLUENCER">Influencer</option>
                								</select>
                							</div>
                						</div>
                					</div>
            					</div>
            				</div>
            				<div class="col-md-12">
            					<div class="padding-30">
            						<button type="submit" class="btn btn-primary">Create User</button>
            					</div>
            				</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>