<div class="container-fluid container-fixed-lg">
	<ul class="breadcrumb">
		<li><p>users</p></li>
		<li><a href="#" class="active">list</a></li>
	</ul>
</div>

<div class="container-fluid container-fixed-lg">
	<div class="row full-height no-margin bg-white">
		<div class="col-md-12 no-padding full-height">
			<div class="panel panel-transparent">
				<div class="panel-heading">
					<div class="panel-title"><h4>Users List</h4></div>
				</div>
				<div class="panel-body">
				
				</div>
			</div>
		</div>
	</div>
</div>