<div class="container-fluid container-fixed-lg">
	<ul class="breadcrumb">
		<li><p>settings</p></li>
		<li><a href="#" class="active">fields</a></li>
	</ul>
	<h3 class="page-title">Fields Editor</h3>
</div>

<div class="container-fluid container-fixed-lg">
	<div class="row full-height no-margin bg-white">
		<div class="col-md-6 no-padding full-height">
			<div class="panel panel-transparent">
				<div class="panel-heading">
					<div class="panel-title"><h4>Fields List</h4></div>
				</div>
				<div class="panel-body">
    				<form role="form">
                		<div class="form-group form-group-default">
                			<label>Project</label>
                		</div>
                	</form>
				</div>
			</div>
        </div>
        <div class="col-md-6 no-padding full-height">
        	<div class="panel panel-transparent">
				<div class="panel-heading">
					<div class="panel-title"><h4>Client</h4></div>
				</div>
				<div class="panel-body">
    				<form role="form">
                		<div class="form-group form-group-default">
                			<label>Project</label>
                		</div>
                	</form>
				</div>
			</div>
        </div>
    </div>
</div>