services:
#    influencer_app.example:
#        class: Influencer\AppBundle\Example
#        arguments: ["@service_id", "plain_value", "%parameter%"]
    
    a0_user_provider:
        class: Influencer\AppBundle\Security\A0UserProvider
        arguments: ["@jwt_auth.auth0_service"]
        
    app.token_authenticator:
        class: Influencer\AppBundle\Security\TokenAuthenticator
        arguments: ["@doctrine.orm.entity_manager", "@security.token_storage"]
        
    app.user_entity:
        class: Influencer\AppBundle\Entity\User
        arguments: ["%kernel.root_dir%"]
    
    app.social_connector:
        class: Influencer\AppBundle\Service\SocialConnect
        arguments: ["@service_container"]
        
    app.feed_loader:
        class: Influencer\AppBundle\Service\FeedLoader
        arguments: ["@service_container"]

    app.admin_data:
        class: Influencer\AppBundle\Service\AdminData
        arguments: ["@service_container"]
        
    app.influencer_data:
        class: Influencer\AppBundle\Service\InfluencerData
        arguments: ["@service_container"]
        
    app.client_data:
        class: Influencer\AppBundle\Service\ClientData
        arguments: ["@service_container"]