<nav class="secondary-sidebar padding-30">
	<p class="menu-title text-white">PROFILE</p>
	<ul class="main-menu">
		<li ng-class="{'active': formLoaded == 'main'}">
			<a ng-click="loadForm('main')">
                <span class="title"><i class="fa fa-user"></i> Main</span>
            </a>
		</li>
		<li ng-if="user.role == 'influencer' || user.role == 'admin'" ng-class="{'active': formLoaded == 'audience'}">
			<a ng-click="loadForm('audience')">
                <span class="title"><i class="fa fa-group"></i> Audience</span>
            </a>
		</li>
		<li ng-if="user.role == 'influencer' || user.role == 'admin'" ng-class="{'active': formLoaded == 'campaigns'}">
			<a ng-click="loadForm('campaigns')">
                <span class="title"><i class="fa fa-briefcase"></i> Campaigns</span>
            </a>
		</li>
		<li ng-if="user.role == 'influencer' || user.role == 'admin'" ng-class="{'active': formLoaded == 'socials'}">
			<a ng-click="loadForm('socials')">
                <span class="title"><i class="fa fa-comments"></i> Socials</span>
            </a>
		</li>
		<li ng-class="{'active': formLoaded == 'channels'}">
			<a ng-click="loadForm('channels')">
                <span class="title"><i class="fa fa-credit-card"></i> Channels and prices</span>
            </a>
		</li>
		<li ng-class="{'active': formLoaded == 'password'}">
			<a ng-click="loadForm('password')">
                <span class="title"><i class="fa fa-lock"></i> Password</span>
            </a>
		</li>
	</ul>
</nav>

<div class="inner-content full-height">
	<div ng-include="formPath"></div>
</div>