<div class="full-height margin-10">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Password</h4>
		</div>
		<div class="panel-content" flow-init flow-file-added="loadProfileImage($file, $event, $flow)">
			<div class="padding-20">
	        	<form role="form" name="mainInfluencerPassword" ng-submit="resetPassword()">
	        		<div class="row">
    	        		<div class="col-md-7">
        					<div class="row">
        						<div class="col-sm-12">
        							<div pg-form-group class="form-group form-group-default">
        								<label>Current password</label>
        								<input type="password" name="current_password" placeholder="Current password" class="form-control" ng-model="reset.currentPassword">
        							</div>
        						</div>
        					</div>
    						<div class="row">
        						<div class="col-sm-12">
        							<div pg-form-group class="form-group form-group-default">
        								<label>New password</label>
        								<input type="password" name="new_password" placeholder="New password" class="form-control" ng-model="reset.newPassword">
        							</div>
        						</div>
        					</div>
        					<br>
        					<div class="row">
        						<div class="col-sm-6">
                					<button type="submit" class="btn btn-primary btn-cons">
                    					<span>Change Password</span>
                    				</button>
                    			</div>
                    		</div>
                    	</div>
                    </div>
	        	</form>
	        </div>
        </div>
    </div>
</div>