<div class="full-height margin-10">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Channels & Prices</h4>
		</div>
		<div class="panel-content" flow-init>
			<div class="padding-20">
	        	<form role="form" name="channelPriceDataInfo" ng-submit="submitProfile()">
	        		<div class="row">
    	        		<div class="col-md-7">
    	        			
        					<div class="row">
        						<div class="col-sm-6">
                					<button type="submit" class="btn btn-primary btn-cons">
                    					<span>Save Changes</span>
                    				</button>
                    			</div>
                    		</div>
    	        		</div>
    	        	</div>
    	        </form>
    	    </div>
    	</div>
	</div>
</div>