<div ng-if="user.role == 'admin'" ng-include src=" '{{ path('inf_profile', {'role': 'admin'}) }}' " include-replace></div>
<div ng-if="user.role == 'influencer'" ng-include src=" '{{ path('inf_profile', {'role': 'influencer'}) }}' " include-replace></div>
<div ng-if="user.role == 'client'" ng-include src=" '{{ path('inf_profile', {'role': 'client'}) }}' " include-replace></div>